<!DOCTYPE html>
<html lang="nl">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Tim Angevare, Jelle van den Brink">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#aeaeae">
        <title>{% block title %}Bestellingen Slager 2021{% endblock %}</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        <style>
            * {
                font-family: 'Roboto', sans-serif;
            }

            img {
                height: 100px;
                width: auto;
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <header class="w3-display-container w3-gray" style="height: 120px; display: block;">
            <div class="w3-display-left"><a href="/"><img src="{% static 'dorpsslagerijlogofull.png' %}" alt="Dorpsslagerij logo"></a></div>
            <div class="w3-display-middle"><h1>Kerstbestellingen 2021</h1></div>
            {% if mainpage %}
                <div class="w3-display-right w3-margin">
                <form autocomplete="off" action="{% url 'nieuwApp:specialeoptie' %}" method="post">
                    {% csrf_token %}
                    {{ verwijder_form }}
                    <input class="w3-btn w3-round-large w3-red w3-margin-left" type="submit" name="done" value="Verwijder bestelling">
                </form>
                </div>

            {% endif %}
        </header>
        {% if messages %}
        <div class="w3-container w3-margin-top">
            <ul class="w3-ul">
                {% for message in messages %}
                <div class="w3-round w3-section {% if message.tags %}{{ message.tags }}{% endif %}">
                    <span onclick="this.parentElement.style.display='none'" style="float: right;" class="w3-btn w3-hover-black">&times;</span>
                    <li>{{ message }}</li>
                </div>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% block content%}

        <div class="w3-container" style="margin-top: 10%; text-align: center;">
            <a href="/zoek"><button style="padding: 100px; min-width: 40%;" class="w3-button w3-blue-grey w3-round w3-xlarge">Zoeken</button></a>
            <a href="/nieuw"><button style="padding: 100px; min-width: 40%;" class="w3-button w3-light-blue w3-round w3-xlarge">Nieuwe bestelling</button></a>
        </div>

        {% endblock %}
    </body>
</html>

{% block extra %}
{% endblock %}