{% extends 'main.html' %}

{% block content %}

{% if error_message %}<div class="w3-panel w3-red w3-container"><p>{{ error_message }}</p></div>{% endif %}

<div class="w3-container">
    <div class="w3-card w3-margin" style="width: 50%;">
        <header class="w3-container w3-teal">
            <h3>Afronding bestelling #{{passed_bestelnr}}</h3>
        </header>
        <form action="{% url 'nieuwApp:besteldone' %}" method="post" class="w3-container w3-margin">
            {% csrf_token %}

            {{form}}

            <input type="hidden" name="bestelnr" value={{passed_bestelnr}}>
            <input type="hidden" name="usr_email" value={{passed_email}}>

            <input class="w3-btn w3-round-large w3-blue w3-margin" type="submit" value="Afronden">
        </form>
    </div>

    
    
</div>
{% endblock content %}