{% extends 'main.html' %}

{% block content %}
<div class="w3-container">
    <h3>Nieuwe toevoeging van type: {{gekozen_type}}</h3>
    {% if error_message %}<div class="w3-panel w3-red"><p>{{ error_message }}</p></div>{% endif %}
    <form autocomplete="off" action="{% url 'bestellingenApp:nieuwekeuze' %}" method="post" style="width: 30%;">
        {% csrf_token %}
        <fieldset>
            <legend><p>Voor bestelling</p></legend>
            <label for="bestelnr">Bestelnummer:</label><br>
            <input type='number' id="bestelnr" name="bestelnr" value="{{ passed_bestelnr }}" disabled><br>
            <input type='hidden' id="bestelnr" name="bestelnr" value="{{ passed_bestelnr }}">

            <label for="usr_email">Email:</label><br>
            <input type='email' id="usr_email" name="usr_email" value="{{ passed_email }}" disabled><br>
            <input type='hidden' id="usr_email" name="usr_email" value="{{ passed_email }}">
            
        </fieldset><br>

        <label for="huidig_type">Huidig type:</label><br>
        <input type="text" name="huidig_type" id="huidig_type" value="{{ gekozen_type }}" disabled><br>
        <input type="hidden" name="huidig_type" id="huidig_type" value="{{ gekozen_type }}"><br>

        <label for="product">Product:</label><br>
        <input list="products" id="product" name="product" required>
        <datalist id="products">
        {% for prod in products_list %}
           <option value="{{prod}}"> 
        {% endfor %}
        </datalist><br>

        <label for="cat">Categorie:</label><br>
        <input type='text' id="cat" name="cat" required><br>

    {% if gekozen_type == 'snijdvlees' %}
        <label for="gewicht">Gewicht:</label><br>
        <input type='number' id="gewicht" name="gewicht" required><br>

        <label for="snijden">Snijden:</label><br>
        <input type='text' id="snijden" name="snijden" required><br>

    {% elif gekozen_type == 'menu' %}
        <label for="aantal">Aantal:</label><br>
        <input type='number' id="aantal" name="aantal" required><br>

    {% elif gekozen_type == 'gourmet' %}
        <label for="config">Configuratie:</label><br>
        
        <input type='checkbox' id="{{prod}}" name="{{prod}}" required><br>

    {% endif %}
        
        <label for="bijz">Bijzonderheden:</label><br>
        <input type='text' id="bijz" name="bijz"><br>

        <select name='prod_type'>
            {% for vleestype in type_list %}
            <option value="{{ vleestype }}">{{ vleestype }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="done" value="Nog een product">
        <input type="reset" value="Reset"><br><br>
        <input type="submit" name="done" value="Klaar">
    </form>
    
</div>
{% endblock content %}