{% extends 'main.html' %}

{% block content %}

{% if error_message %}<div class="w3-panel w3-red w3-container"><p>{{ error_message }}</p></div>{% endif %}

<div class="w3-row w3-margin">
    <div class="w3-card w3-third" style="margin-right: 100px;">
        <header class="w3-container w3-blue-grey">
            <h3>Nieuw product - {{gekozen_type}}</h3>
        </header>
        <form autocomplete="off" action="{% url 'nieuwApp:nieuwproduct' %}" method="post" class="w3-container w3-margin">
            {% csrf_token %}
            <input type="hidden" name="huidig_type" id="huidig_type" value="{{ gekozen_type }}">
            <input type="hidden" name="bestelnr" id="bestelnr" value="{{ passed_bestelnr }}">
            <input type="hidden" name="usr_email" id="usr_email" value="{{ passed_email }}">

            {{form}}

            {% comment %}
            <label for="product">Product:</label><br>
            <input class="w3-input w3-border" list="products" id="product" name="product" required><br>
            

            <label for="cat">Categorie:</label><br>
            <input class="w3-input w3-border" type='text' id="cat" name="cat" required><br>

            {% if gekozen_type == 'snijdvlees' %}
                <label for="gewicht">Gewicht:</label><br>
                <input class="w3-input w3-border" type='number' id="gewicht" name="gewicht" required><br>

                <label for="snijden">Snijden:</label><br>
                <input class="w3-input w3-border" type='text' id="snijden" name="snijden" pattern="(\d+:\d+,)+" required><br>

            {% elif gekozen_type == 'menu' %}
                <label for="aantal">Aantal:</label><br>
                <input class="w3-input w3-border" type='number' id="aantal" name="aantal" required><br>

            {% elif gekozen_type == 'gourmet' %}
                <label for="config">Configuratie:</label><br>
                    
                <input type='checkbox' id="{{prod}}" name="{{prod}}" required><br>

            {% endif %}
                    
            <label for="bijz">Bijzonderheden:</label><br>
            <input class="w3-input w3-border" type='text' id="bijz" name="bijz"><br><br>

            {% endcomment %}
            <datalist id="products">
            {% for prod in products_list %}
            <option value="{{prod}}"> 
            {% endfor %}
            </datalist>

            {% comment %} <select name='prod_type' class="w3-select">
                {% for vleeskey, vleesvalue in type_dict.items %}
                <option value="{{ vleeskey }}">{{ vleesvalue }}</option>
                {% endfor %}
            </select><br> {% endcomment %}

            <div class="w3-bar w3-container w3-margin">
                <input class="w3-btn w3-round-large w3-amber" style="width: 35%;" type="submit" name="done" value="Nog een product">
                <input class="w3-btn w3-round-large w3-blue" style="width: 25%;" type="submit" name="done" value="Klaar">
                <input class="w3-btn w3-round-large w3-red" style="width: 35%;" type="submit" name="done" value="Verwijder bestelling">
            </div>
        </form>
    </div>

    <div class="w3-card w3-third w3-center">
        <header class="w3-container w3-green">
                <h3>Huidige Bestelling</h3>
        </header>
        <div class="w3-container">
            <p><strong>Bestelling</strong></p>
            <p>{{passed_bestelnr}}</p>
            <p><strong>Email adres</strong></p>
            <p>{{passed_email}}</p>
        </div>
    </div>
    
</div>
{% endblock content %}