{% extends "main.html" %}

{% block title%}Nieuwe Bestelling{% endblock %}

{% block content %}
<div class="w3-container">
    <h1>Nieuwe bestelling</h1>
    {% if error_message %}<div class="w3-panel w3-red w3-container"><p>{{ error_message }}</p></div>{% endif %}
    <form action="{% url 'nieuwApp:nieuwbestelling' %}" method="post" class="w3-container" style="width: 50%;">
    {% csrf_token %}
        {{ form }}
        <br><input type="submit" name="done" value="Maak bestelling aan" class="w3-input w3-btn w3-teal">
    </form>
</div>

{% endblock %}