<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Tim Angevare, Jelle van den Brink">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bestellingen Slager 2021{% endblock %}</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <style>
            * {
                font-family: 'Roboto', sans-serif;
            }

            img {
                height: 100px;
                width: auto;
                margin: 10px;
            }
        </style>
    </head>
    <body>
    {% block content%}
        <header class="w3-display-container w3-gray" style="height: 120px;">
            <div class="w3-display-left"><img src="https://midmid.blob.core.windows.net/images/de-ambachtelijke-dorpsslagerij/logo/de-ambachtelijke-dorpsslagerij_16a495_md.jpg?v=d96a1867dd9b649db01551f10b456227" alt="Dorpsslagerij logo"></div>
            <div class="w3-display-middle"><h1>Kerstbestellingen 2021</h1></div>
        </header>

        <div class="w3-container" style="margin-top: 10%; text-align: center;">
            <a href="/zoeken"><button style="padding: 100px; min-width: 40%;" class="w3-button w3-blue-grey w3-round w3-xlarge">Zoeken</button></a>
            <a href="/nieuw"><button style="padding: 100px; min-width: 40%;" class="w3-button w3-light-blue w3-round w3-xlarge">Nieuwe bestelling</button></a>
        </div>
    {% endblock %}
    </body>
</html>