{% extends 'main.html' %}

{% block content %}
<div class="w3-display-middle">
    <h1>Zoek producten</h1>
    <hr>
    <h2>Filter</h2>
    <form method="post" action="{% url 'zoekApp:producten' %}">
        {% csrf_token %}
        {{producten_form}}
        <datalist id="products">
            {% for prod in products_list %}
                <option value="{{prod}}">
            {% endfor %}
        </datalist>
        <button type="submit", name="save">Zoek</button>
    </form>
</div>
{% endblock content %}