{% extends 'main.html' %}

{% block content %}

<div class="">
    <div class="w3-container" style="margin-top: 10%; text-align: center;">
        <a href="/zoek/ales/"><button style="padding: 100px; min-width: 40%;" class="w3-button w3-indigo w3-round w3-xlarge w3-margin">Zie alles</button></a>
        <a href="/zoek/bestellingen/"><button style="padding: 100px; min-width: 40%;" class="w3-button w3-blue-grey w3-round w3-xlarge w3-margin">bestellingen</button></a>
        <a href="/zoek/producten/"><button style="padding: 100px; min-width: 40%;" class="w3-button w3-light-blue w3-round w3-xlarge w3-margin">Producten</button></a>
    </div>  
</div>

{% endblock content %}